# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
